*.log
*.log.full
*.old
.vscode/
config/.history
config/.seen_tips
config/clink_errorlevel*
config/clink_history*
config/cwd_history
cscope.*
tags
tmp/
vendor/conemu-maximus5/ConEmu/clink
vendor/cygwin/
docs/
