# config/settings
# config/user-ConEmu.xml
# vendor/conemu-maximus5/ConEmu.xml
*.log
*.log.full
.vscode/
config/.history
config/.seen_tips
config/clink_history*
config/clink_errorlevel*
config/cwd_history
cscope.*
tags
tmp/
vendor/conemu-maximus5/ConEmu/clink
vendor/cygwin/